*{
  box-sizing: border-box;
}
body{
  background-color: bisque;
  margin: 0;


}
h1{
  text-align: center;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200s;
}
header{
  background-color: aqua;
}
aside{
  background-color: chartreuse;
}
article{
  background-color: coral;

}
main{
  display: flex;
}
